<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="../adminHomeAsset/imgs/theme/favicon.svg">
<!-- Template CSS -->
<link href="../adminHomeAsset/css/main.css" rel="stylesheet" type="text/css" />
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script> -->

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
    integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">


<%- include('../partials/adminSideBar') %>



<main class="main-wrap">
    <section class="content-main">
        <div class="mt-5" style="margin-top: 60px;">
            <div class="container">

                <a href="/admin/add-coupones" class="btn btn-primary mt-4 mb-2 float-end">Add coupons</a>

            </div>


            <div class="mt-5" style="margin-top: 60px;">

                <table class="table mt-4 display" id="productsTable">
                    <thead>
                        <tr>
                            <th scope="col">Order ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Payment Method</th>
                                    <th scope="col">Date</th>
                                    <th scope="col"> Status </th>
                                    <th scope="col">option</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% for(var i=0; i< orders.length; i++) { %>
                            <a href="/admin">
                                <tr>
                                    <td>
                                        <%=orders[i]._id%>
                                    </td>
                                    <td><b>
                                            <%=orders[i].deliveryDetails.address%>
                                        </b></td>

                                    <td>
                                        <%=orders[i].total%>
                                    </td>
                                    <td><b>
                                            <%=orders[i].paymentMethod%>
                                        </b></td>
                                    <!-- <td></td> -->
                                    <td>
                                        <%=orders[i].date%>
                                    </td>
                                    <td>
                                        <div class="dropdown">

                                            <a class="badge rounded-pill alert-warning"
                                                data-bs-toggle="dropdown">
                                                <%=orders[i].orderStatus%>
                                            </a>

                                            

                                                <% if (orders[i].orderStatus=='pending') { %>
                                                    <div class="dropdown-menu">
                                                    <a   class="dropdown-item "  href="" onclick="changeStatus('<%=orders[i]._id%>',this)" data-value="placed">placed</a>
                                                </div>    
                                                      <% }  %>
    
                                                    <% if (orders[i].orderStatus=='placed') { %>
                                                        <div class="dropdown-menu">
                                                    <a   class="dropdown-item "  href="" onclick="changeStatus('<%=orders[i]._id%>',this)" data-value="shipped">shipped</a>

                                                </div>
                                                        <% }  %>
    
                                                        <% if (orders[i].orderStatus=='shipped') { %>
                                                            <div class="dropdown-menu">
                                                    <a class="dropdown-item " href=""  onclick="changeStatus('<%=orders[i]._id%>',this)" data-value="Delivered">Delivered</a>
                                                </div>
                                                               <% }  %>

                                                    <% if (orders[i].orderStatus=='cancelrequest') { %>
                                                        <div class="dropdown-menu">
                                                    <a class="dropdown-item text-danger " href=""  onclick="changeStatus('<%=orders[i]._id%>',this)" data-value="Cancel">Cancel</a>
                                                </div>    
                                                        <% }  %>

                                                        <% if (orders[i].orderStatus=='returnrequest') { %>
                                                            <div class="dropdown-menu">
                                                            <a class="dropdown-item " href=""  onclick="changeStatus('<%=orders[i]._id%>',this)" data-value="return">return</a>
                                                        </div>           
                                                                       <% }  %>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="/admin/single-order/<%=orders[i]._id%>"
                                            class="btn btn-md rounded font-sm">view</a>

                                    </td>
                                </tr>
                            </a>

                            <% } %>
                    </tbody>
                </table>
            </div>


    </section> 
    <span id="popup"
    style="display:none; position:fixed; top:90%;border-radius: 10px; left:50%;box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); transform:translate(-50%, -50%); padding:10px; border:1px solid #ccc; background-color:#1ddf1d74; z-index:9999;">
    Order Status changed

</span>

</main>





        <script>
        function changeStatus(orderId,details) {

            var status = details.getAttribute('data-value');
            
            console.log(status);
            $.ajax({
                url: "/admin/change-order-status",
                method: "POST",
                data: { status, orderId },
                success: (response) => {
                    

                    // const popup = document.getElementById('popup');
                    // popup.style.display = 'block';
                    // setTimeout(() => {
                    //     popup.style.display = 'none';
                    // }, 5000);


                }
            })


        }
    </script>


    <script src="../adminHomeAsset/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="../adminHomeAsset/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../adminHomeAsset/js/vendors/select2.min.js"></script>
    <script src="../adminHomeAsset/js/vendors/perfect-scrollbar.js"></script>
    <script src="../adminHomeAsset/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="../adminHomeAsset/js/main.js" type="text/javascript"></script>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
        <script>

            $(function () {
                $('#productsTable').DataTable();
            });
    
        </script>
    </body>


    <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-users-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:12 GMT -->

    </html>