
<link rel="shortcut icon" type="image/x-icon" href="../adminHomeAsset/imgs/theme/favicon.svg">

<link href="../adminHomeAsset/css/main.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">



<%- include('../partials/adminSideBar') %>
    <main class="main-wrap">
        <section class="content-main">
            <div class="mt-5" style="margin-top: 60px;">

                <div class="mt-5" style="margin-top: 60px;">

                    <table class="table mt-4 display" id="usersTable">
                        <thead>
                            <tr>
                                <th scope="col">Sl No</th>


                                <th scope="col">User Name</th>
                                <th scope="col">User Email</th>
                                <th scope="col">User Phone</th>
                                <th>option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%let count=1%>
                            <% for (var i=0; i < users.length; i++) { %>
                                <tr>
                                    
                                    <td><%=count%></td>
                                    <td>
                                        <%= users[i].name%>
                                    </td>
                                    

                                    <td>
                                        <%= users[i].email %>
                                    </td>
                                    <td>
                                        <%= users[i].phone %>
                                    </td>

                                
                                            <td>
                                                <% if (users[i].userstatus) { %>
                                                <a href="/admin/block/<%=users[i]._id%>" class="btn btn-danger">   Block</a>
                                                  <% } else { %>
                                                <a href="/admin/unblock/<%=users[i]._id%>" class="btn btn-primary">unblock</a>
                                                  <% } %>
                                               
                                              </td>


                                    

                                </tr>
                                <%count++%>
                                <% } %>


                        </tbody>
                    </table>
                </div>


        </section> <!-- content-main end// -->

    </main>

    <script>


        $(function () {
            $('#usersTable').DataTable();
        });

    </script>

    <script src="../adminHomeAsset/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="../adminHomeAsset/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../adminHomeAsset/js/vendors/select2.min.js"></script>
    <script src="../adminHomeAsset/js/vendors/perfect-scrollbar.js"></script>
    <script src="../adminHomeAsset/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="../adminHomeAsset/js/main.js" type="text/javascript"></script>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
        <script>

            $(function () {
                $('#productsTable').DataTable();
            });
    
        </script>
    </body>


    <!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-users-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:12 GMT -->

    </html>