<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->

<head>
    <meta charset="utf-8">
    <title>Shoppy Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    

    <link rel="shortcut icon" type="image/x-icon" href="../../adminHomeAsset/imgs/theme/favicon.svg">
    <link href="../../adminHomeAsset/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

</head>



<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/home" class="brand-wrap">
                <h3>ADMIN PANEL</h3>
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside" id="myList">
                <li class="menu-item <%=locals.dashActive%>" >
                    <a class="menu-link " href="/admin/home"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>

                <li class="menu-item <%=locals.productActive%>" >
                    <a class="menu-link" href="/admin/product-details"> <i
                            class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products </span>
                    </a>

                </li>

                <li class="menu-item <%=locals.userActive%>">
                    <a class="menu-link" href="/admin/user-details"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users </span>
                    </a>
                </li>
                <li class="menu-item <%=locals.categoryActive%> ">
                    <a class="menu-link" href="/admin/view-categories"> <i class="icon material-icons md-category"></i>
                        <span class="text">Categories </span>
                    </a>
                </li>
                <li class="menu-item <%=locals.bannerActive%>">
                    <a class="menu-link" href="/admin/view-banners"> <i class="icon material-icons md-store"></i>
                        <span class="text">Banners </span>
                    </a>
                </li>


                <li class="menu-item <%=locals.couponActive%>">
                    <a class="menu-link" href="/admin/coupones-management"> <i
                            class="icon material-icons md-shopping_bag"></i>
                        <span class="text">coupons </span>
                    </a>
                </li>

                <li class="menu-item <%=locals.orderActive%>">
                    <a class="menu-link" href="/admin/order-management"> <i
                            class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Orders </span>
                    </a>
                </li>


        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">

            </div>
            <div class="col-nav">

                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                        aria-expanded="false"> <img class="img-xs rounded-circle"
                            src="../../adminHomeAsset/imgs/people/user.webp" alt="User"></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                        <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>ARJUN KVK</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="/admin/logout"><i
                                class="material-icons md-exit_to_app"></i>Logout</a>
                    </div>
                </li>
                </ul>
            </div>
        </header>
    </main>



</body>