<!DOCTYPE html>
<html lang="zxx">

<head>
  <!-- Meta Tag -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name='copyright' content=''>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Title Tag  -->
  <title>Shoppyy</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="../userHomeAsset/images/favicon.png">
  <!-- Web Font -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

  <!-- StyleSheet -->


  <!-- Bootstrap -->
  <link rel="stylesheet" href="../../userHomeAsset/css/bootstrap.css">
  <!-- Magnific Popup -->
  <link rel="stylesheet" href="../../userHomeAsset/css/magnific-popup.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../userHomeAsset/css/font-awesome.css">
  <!-- Fancybox -->
  <link rel="stylesheet" href="../../userHomeAsset/css/jquery.fancybox.min.css">
  <!-- Themify Icons -->
  <link rel="stylesheet" href="../../userHomeAsset/css/themify-icons.css">
  <!-- Nice Select CSS -->
  <link rel="stylesheet" href="../../userHomeAsset/css/niceselect.css">
  <!-- Animate CSS -->
  <link rel="stylesheet" href="../../userHomeAsset/css/animate.css">
  <!-- Flex Slider CSS -->
  <link rel="stylesheet" href="../../userHomeAsset/css/flex-slider.min.css">
  <!-- Owl Carousel -->
  <link rel="stylesheet" href="../../userHomeAsset/css/owl-carousel.css">
  <!-- Slicknav -->
  <link rel="stylesheet" href="../../userHomeAsset/css/slicknav.min.css">
  <!-- Eshop StyleSheet -->
  <link rel="stylesheet" href="../../userHomeAsset/css/reset.css">
  <link rel="stylesheet" href="../../userHomeAsset/css/style.css">
  <link rel="stylesheet" href="../../userHomeAsset/css/responsive.css">


  <!-- <script src="https://checkout. razorpay.com/v1/checkout.js"></script> -->
  <!-- <script type="text/javascript" src="https://checkout.razorpay.com/v1/razorpay.js"></script> -->


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- <link href="../adminHomeAsset/css/main.css" rel="stylesheet" type="text/css" /> -->



</head>

<body class="js">

  <!-- Preloader -->
  <div class="preloader">
    <div class="preloader-inner">
      <div class="preloader-icon">
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- End Preloader -->


  <!-- Header -->
  <header class="header shop">


    <div class="middle-inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-12">
            <!-- Logo -->
            <div class="logo">
              <a href="/">
                <h2>Shoppy</h2>
              </a>
            </div>
            <!--/ End Logo -->

            <!-- Search Form -->
            <div class="search-top">
              <div class="top-search"><a><i class="ti-search"></i></a></div>
              <!-- Search Form -->
              <div class="search-top">
                <form class="search-form" action="search">
                  <input type="search" placeholder="Search here..." name="search" required>
                  <button value="search" type="submit"><i class="ti-search"></i></button>
                </form>
              </div>

              <!--/ End Search Form -->
            </div>

            <div class="cart-items">

              <% if (user) { %>
              <a href="/view-cart" class="single-icon"><i class="ti-bag"></i>
               
                <span class="total-count" id="cart-count">
                  <%=cartcount%>
                </span>
              
              </a>
              <% } else { %>
              <a href="/view-cart" class="single-icon"><i class="ti-bag"></i></a>
              <% } %>

            </div>

            <div class="wish-items">
              <div class="sinlge-bar ">
                <a href="/wishlist" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
              </div>

            </div>

            <div class="user-items">
              <% if (user) { %>
              <a href="/profile" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
              </a>
              <span>
                <%=user.name%>
              </span>
              <% } else { %>
              <a href="/login" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
              <% } %>

            </div>



            <!--/ End Search Form -->
            <div class="mobile-nav">
            </div>
          </div>

          <div class="col-lg-8 col-md-7 col-12">
            <div class="search-bar-top">
              <div class="search-bar">

                <form action="search">
                  <input name="search" placeholder="Search Products Here....." type="search" id="yy" required>
                  <!-- <a href="" class="btnn"><i class="ti-search"></i></a> -->
                  <button class="btnn"><i class="ti-search"></i></button>
                </form>
              </div>
            </div>
          </div>

          <% if(user) {%>
          <div class="col-lg-2 col-md-3 col-12">
            <div class="right-bar">
              <div class="sinlge-bar ">
                <a href="/wishlist" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
              </div>
              <div class="sinlge-bar shopping">

                <a href="/profile" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
                </a>

                <div class="shopping-item">
                  <div class="shopping-list">
                    <a href="/profile">
                      <%=user.name%>
                    </a>
                  </div>
                  <div class="shopping-list">
                    <a href="/logout">Logout</a>
                  </div>

                </div>

              </div>


              <!-- Content to render if condition is true -->
              <div class="sinlge-bar shopping">
                
                    <a href="/view-cart" class="single-icon"><i class="ti-bag"></i>
                      <% if (cartcount) { %>
                      <span class="total-count" id="cart-count">
                        <%=cartcount%>
                      </span>
                      <% } else { %>
                      <span class="total-count" id="cart-count">
                        0
                      </span>
                      <% } %>
                    </a>
              </div>
            </div>
          </div>
        </div>

        <%}else{%>
        <div class="col-lg-2 col-md-3 col-12">
          <div class="right-bar">
            <!-- Search Form -->
            <div class="sinlge-bar ">
              <a href="/login" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
            </div>
            <div class="sinlge-bar shopping">
              <a href="/login" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>

            </div>
            <div class="sinlge-bar shopping">
              <a href="/login" class="single-icon"><i class="ti-bag"></i> </a>
              <!-- Shopping Item -->

              <!--/ End Shopping Item -->
            </div>
          </div>
        </div>
      </div>

      <%}%>

        </div>
        </div>
        <!-- Header Inner -->
        <div class="header-inner">
            <div class="container">
                <div class="cat-nav-head">
                    <div class="row">

                        <div class="col-lg-9 col-12">
                            <div class="menu-area">
                                <!-- Main Menu -->
                                <nav class="navbar navbar-expand-lg">
                                    <div class="navbar-collapse">
                                        <div class="nav-inner">
                                            <ul class="nav main-menu menu navbar-nav">
                                                <li class="<%=locals.userHomeActive%>"><a href="/">Home</a></li>
      <li class="<%=locals.userCategoryActive%>"><a href="#">Category<i class="ti-angle-down"></i></a>
        <ul class="dropdown">
          <% for (var i=0; i < category.length; i++) { %>
          <% if (category[i].productStatus) { %>
          <li><a href="/category/<%=category[i]._id%>">
              <%=category[i].category%>
            </a></li>
          <% } %>

          <% } %>
        </ul>
      </li>
      <!-- <li><a href="#">Hot items</a></li> -->
      <!-- <li><a href="#">Help</a></li> -->

      <li class="<%=locals.userContactActive%>"><a href="/contact">Contact
          Us</a></li>
      </ul>
    </div>
    </div>
    </nav>
    <!--/ End Main Menu -->
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

    <!--/ End Header Inner -->
  </header>


  <!--/ End Header -->
</body>

</html>