<%- include('../partials/UserHeader') %>

<style>
    /* CSS for the input slider */
    .range-slider {
        width: 200px;
        margin-top: 20px;
    }
    .range-slider input {
        width: 100%;
    }
</style>

    <section class="product-area shop-sidebar shop section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-12">
                    <div class="shop-sidebar">
                        <!-- Single Widget -->
                        <div class="single-widget category">
                            <h3 class="title">Sort by</h3>
                            <ul class="categor-list">

                                <!-- <% for (var i=0; i < category.length; i++) { %>
                                    <% if (category[i].productStatus) { %>
                                        <li><a href="/category/<%=category[i]._id%>">
                                                <%=category[i].category%>
                                            </a></li>
                                        <% } %>

                                            <% } %> -->
                                        <a href="/search?sort=<%=searchValue%>">Price(low-high)</a>

                            </ul>
                        </div>
                        <!--/ End Single Widget -->
                        <!-- Shop By Price -->
                        <div class="single-widget range">
                            <h3 class="title">Shop by Price</h3>
                            <!-- <div class="price-filter">
                                <div class="price-filter-inner">
                                    <div id="slider-range"></div>
                                    <div class="price_slider_amount">
                                        <div class="label-input">
                                            <span>Range:</span><input type="text" id="amount" name="price"
                                                placeholder="Add Your Price" />

                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="range-slider">
                                <input type="range" id="rangeInput" min="5000" max="100000" step="1" value="0" />
                                <span>Min Price: <span id="minValue">5000</span></span>
                                <span>Max Price: <span id="maxValue">100000</span></span>
                            </div> -->

                            <ul class="check-box-list">
                                <!-- <li>
                                    <label class="checkbox-inline" for="1"><input name="news" id="1" type="checkbox">$20
                                        - $50<span class="count">(3)</span></label>
                                </li> -->

                                <li class="p-b-6">
                                    <a href="/search?search=<%=searchValue%>&filter=0-20000" class="filter-link stext-106 trans-04">
                                        ₹0.00 - ₹20000.00
                                    </a>
                                </li>
                                <li class="p-b-6">
                                    <a href="/search?search=<%=searchValue%>&filter=20000-40000" class="filter-link stext-106 trans-04">
                                        ₹20000.00 - ₹40000.00
                                    </a>
                                </li>
                                <li class="p-b-6">
                                    <a href="/search?search=<%=searchValue%>&filter=40000-80000" class="filter-link stext-106 trans-04">
                                        ₹40000.00 - ₹80000.00
                                    </a>
                                </li>
                                <li class="p-b-6">
                                    <a href="/search?search=<%=searchValue%>&filter=80000"
                                        class="filter-link stext-106 trans-04">
                                        ₹80000.00-Above
                                    </a>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-lg-9 col-md-8 col-12">
                    <div class="row">
                        <div class="col-12">
                            <!-- Shop Top -->
                            <!-- <div class="shop-top"> -->
                                <!-- <div class="shop-shorter">
                                    <div class="single-shorter">
                                        <label>Show :</label>
                                        <select>
                                            <option selected="selected">09</option>
                                            <option>15</option>
                                            <option>25</option>
                                            <option>30</option>
                                        </select>
                                    </div>

                                    <div class="single-shorter">
                                        <label>Sort By :</label>
                                 
                                        <a href="/search?sort=<%=searchValue%>">Price</a>
                                    </div>
                                </div> -->
                                <!-- <ul class="view-mode">
                                    <li class="active"><a href="shop-grid.html"><i class="fa fa-th-large"></i></a></li>
                                    
                                </ul> -->
                            <!-- </div> -->
                            <!--/ End Shop Top -->
                        </div>
                    </div>

                    <% if (products.length!=0) { %>

                        <div class="row">

                            <% for (var i=0; i < products.length; i++) { %>

                                <% if (products[i].stockStatus) { %>

                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="/view-product/<%=products[i]._id%>">
                                                <img class="default-img" src="<%=products[i].image[0]%>" alt="#"
                                                    style="width: 550px;height: 750;">
                                            </a>
                                            <div class="button-head">
                                                <div class="product-action">

                                                    <a onclick="addToWishList( '<%=products[i]._id%>' )"><i
                                                            class=" ti-heart "></i><span>Add to
                                                            Wishlist</span></a>
                                                    <p title="Compare"></p>


                                                </div>
                                                <div class="product-action-2">

                                                    <a onclick="addTOCart( '<%=products[i]._id%>' )">Add to
                                                        cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a href="product-details.html">
                                                    <%=products[i].pro_name%>
                                                </a></h3>
                                            <div class="product-price" style="color: green;">
                                                <span>₹<%=products[i].pro_price%></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }  %>
                                <% } %>
                        </div>
                        <br>

                        <% if (totalPages >= 1) { %>
                            <div class="d-flex  justify-content-center ">
                                <% if (page > 1) { %>
                                    <a class="btn border" style="background-color: white;color: black;" href="/search?search=<%=searchValue%>&sort=<%=searchValue%>&page=<%= page - 1 %>">Previous</a>
                                <% } %>
                                <% for (var i = 1; i <= (totalPages/10)+1; i++) { %>
                                    <a class="btn border" style="background-color: white;color: black;" href="/search?search=<%=searchValue%>&sort=<%=searchValue%>&page=<%=i%>"> <p><%=i%></p></a>

                                  <% } %>
                                <% if (page < totalPages) { %>
                                    <a class="btn border" style="background-color: white;color: black;"  href="/search?search=<%=searchValue%>&sort=<%=searchValue%>&page=<%= page + 1 %>">Next</a>
                                <% } %>
                            </div>
                        <% } %>


                        <% } else { %>


                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-md-8 mt-5">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h5 class="card-title">No search result found</h5>
                                                <!-- <p class="card-text">You have no items in your cart.</p> -->
                                                <br>
                                                <a href="/" style="color: green;"> Start Shopping</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <% } %>
                </div>
            </div>
        </div>
    </section>


    <script>
        // JavaScript to dynamically change the values
        const rangeInput = document.getElementById('rangeInput');
        const minValue = document.getElementById('minValue');
        const maxValue = document.getElementById('maxValue');

        rangeInput.addEventListener('input', () => {
            // Update the displayed min and max values
            minValue.textContent = rangeInput.value;
            maxValue.textContent = 100 - rangeInput.value;
        });
    </script>

   

    <script>

        document.getElementById("mySelect").addEventListener("change", function () {
            var selectedValue = this.value;
            if (selectedValue !== "") {
                window.location.href = selectedValue;
            }
        });


        function addTOCart(proId) {
            $.ajax({
                url: '/add-to-cart/' + proId,
                method: 'get',
                success: (response) => {
                    if (response.status) {
                        const popup = document.getElementById('popup');
                        popup.style.display = 'block';
                        setTimeout(() => {
                            popup.style.display = 'none';
                        }, 1000);
                        let count = $('#cart-count').html()
                        count = parseInt(count) + 1
                        $('#cart-count').html(count)
                    }
                    // alert(response)
                }

            })
        }

        function addToWishList(proId) {
            $.ajax({
                url: "/add-to-wishlist/" + proId,
                method: 'get',
                success: (response) => {
                    if (response.status) {
                        const popup = document.getElementById('popup');
                        popup.style.display = 'block';
                        setTimeout(() => {
                            popup.style.display = 'none';
                        }, 2000);
                        let count = $('#cart-count').html()
                        count = parseInt(count) + 1
                        $('#cart-count').html(count)
                    }
                    // alert(response)
                }

            })

        }
    </script>




    <%- include('../partials/userFooter') %>