<%- include('../partials/UserHeader') %>

<!-- <section class="hero-slider">
  <div
    class="single-slider"
    style="
      background-image: url('https://img.freepik.com/premium-psd/black-friday-sale-laptops-with-dark-background-3d-render_444361-42.jpg');
      height: 600px;
    "
  >
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-9 offset-lg-3 col-12">
          <div class="text-inner">
            <div class="row">
              <div class="col-lg-7 col-12">
                <div class="hero-text">
                  <h1>
                    <span style="color: white">UP TO 50% OFF </span>Shirt For
                    Man
                  </h1>
                  <p style="color: white">
                    Maboriosam in a nesciung eget magnae <br />
                    dapibus disting tloctio in the find it pereri <br />
                    odiy maboriosm.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section >
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      
      <div class="carousel-item active">
        <img src="https://static.vecteezy.com/system/resources/previews/004/299/835/original/online-shopping-on-phone-buy-sell-business-digital-web-banner-application-money-advertising-payment-ecommerce-illustration-search-free-vector.jpg" class="d-block w-100" alt="Image 1">
      </div>
      <div class="carousel-item">
        <img src="https://static.vecteezy.com/system/resources/previews/004/299/835/original/online-shopping-on-phone-buy-sell-business-digital-web-banner-application-money-advertising-payment-ecommerce-illustration-search-free-vector.jpg" class="d-block w-100" alt="Image 2">
      </div>
      <div class="carousel-item">
        <img src="https://static.vecteezy.com/system/resources/previews/004/299/835/original/online-shopping-on-phone-buy-sell-business-digital-web-banner-application-money-advertising-payment-ecommerce-illustration-search-free-vector.jpg" class="d-block w-100" alt="Image 3">
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>



<!-- Start Product Area -->
<div class="product-area section" style="margin-top: -50px;">
  <div class="container">  
    <div class="row">
      <div class="col-12">
        <div class="product-info">
          <div class="tab-content" id="myTabContent">
            <!-- Start Single Tab -->
            <div class="tab-pane fade show active" id="man" role="tabpanel">
              <div class="tab-single">
                <div class="row">
                  <% for (var i=0; i < products.length; i++) { %> <% if
                  (products[i].stockStatus) { %> <% if
                  (products[i].pro_count===0) { %>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-6 ">
                    <div
                      class="single-product"
                      style="pointer-events: none; opacity: 0.6"
                    >
                      <div class="product-img">
                        <a href="/view-product/<%=products[i]._id%>">
                          <img
                            class="default-img"
                            src="<%=products[i].image[0]%>"
                            alt="#"
                            style="width: 550px; height: 750"
                          /><span
                            style="
                              position: absolute;
                              top: 50%;
                              left: 50%;
                              transform: translate(-50%, -50%);
                              color: red;
                              font-size: large;
                              font-weight: bold;
                            "
                            >Out Of Stock</span
                          >
                        </a>

                        <div class="button-head">
                          <div class="product-action">
                            <% if (user) { %>

                            <a onclick="addToWishList( '<%=products[i]._id%>' )"
                              ><i class="fa fa-heart" style="color: red"></i
                              ><span>Add to Wishlist</span></a
                            >

                            <% } else { %>
                            <a onclick="addToWishList( '<%=products[i]._id%>' )"
                              ><i class="ti-heart"></i
                              ><span>Add to Wishlist</span></a
                            >
                            <% } %>
                            <p title="Compare"></p>
                          </div>

                          <div class="product-action-2">
    
                            <a onclick="addTOCart( '<%=products[i]._id%>' )"
                              >Add to cart</a
                            >
                          </div>
                        </div>
                      </div>
                      <div class="product-content">
                        <h3>
                          <a href="product-details.html">
                            <%=products[i].pro_name%>
                          </a>
                        </h3>
                        <div class="product-price" style="color: green">
                          <span>₹<%=products[i].pro_price%></span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <% } else { %>
                  <div class="col-xl-3 col-lg-4 col-md-4 col-6">
                    <div class="single-product">
                      <div class="product-img">
                        <a href="/view-product/<%=products[i]._id%>">
                          <img
                            class="default-img"
                            src="<%=products[i].image[0]%>"
                            alt="#"
                            style="width: 550px; height: 750"
                          />
                        </a>
                        <div class="button-head">
                          <div class="product-action">
                            <% if (user) { %>
                            <a onclick="addToWishList( '<%=products[i]._id%>' )"
                              ><i class="ti-heart"></i
                              ><span>Add to Wishlist</span></a
                            >

                            <% } else { %>
                            <a onclick="addToWishList( '<%=products[i]._id%>' )"
                              ><i class="ti-heart"></i
                              ><span>Add to Wishlist</span></a
                            >
                            <% } %>
                            <p title="Compare"></p>
                          </div>

                          <div class="product-action-2">
                            <!-- <a title="Add to cart"
																			href="/add-to-cart/<%=products[i]._id%>">Add to
																			cart</a> -->
                            <a onclick="addTOCart( '<%=products[i]._id%>' )"
                              >Add to cart</a
                            >
                          </div>
                        </div>
                      </div>
                      <div class="product-content">
                        <h3>
                          <a href="/view-product/<%=products[i]._id%>">
                            <%=products[i].pro_name%>
                          </a>
                        </h3>
                        <div class="product-price" style="color: green">
                          <span>₹<%=products[i].pro_price%></span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <% } %> <% } %> <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End Product Area -->

<!-- Start Midium Banner  -->
<!-- <section class="midium-banner">
  <div class="container">
    <div class="row">
      
      <% for(var i=0; i< 2; i++) { %>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="single-banner">
          <img src="<%= banner[i].image%>" alt="#" />
          <div class="content">
            <p><%= banner[i].banner_title%></p>
            <h3><%= banner[i].banner_name%></h3>
            <a href="/">Shop Now</a>
          </div>
        </div>
      </div>
      <% } %>

    
    </div>
  </div>
</section> -->
<!-- End Midium Banner -->

<!-- Start Most Popular -->
<!-- <div class="product-area most-popular section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>Top selling Products</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="owl-carousel popular-slider">
          
          <% for (var i=0; i < products.length; i++) { %>

          <div class="single-product">
            <div class="product-img">
              <a href="product-details.html">
                <img
                  class="default-img"
                  src="<%=products[i].image[0]%>"
                  alt="#"
                />
                
                <span class="out-of-stock">Hot</span>
              </a>
              <div class="button-head">
                <div class="product-action">
                 
                  <a title="Wishlist" href="#"
                    ><i class="ti-heart"></i><span>Add to Wishlist</span></a
                  >
                  <a title="Compare" href="#"
                    ><i class="ti-bar-chart-alt"></i
                    ><span>Add to Compare</span></a
                  >
                </div>
                <div class="product-action-2">
                  
                  <a onclick="addTOCart( '<%=products[i]._id%>' )"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Start Cowndown Area -->
<% for(var i=0; i< 1; i++) { %>
<section class="cown-down">
  <div class="section-inner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-12 padding-right">
          <div class="image">
            <img src="<%= banner[i].image%>" alt="#" />
          </div>
        </div>
        <div class="col-lg-4 col-12 padding-left">
          <div class="content">
            <div class="heading-block">
              <!-- <p class="small-title"><%= banner[i].banner_title%></p> -->
              <h3 class="title"><%= banner[i].banner_title%></h3>
              <p class="text">
                <%= banner[i].banner_name%>.
              </p>
              <!-- <h1 class="price">$1200 <s>$1890</s></h1>
              <div class="coming-time">
                <div class="clearfix" data-countdown="2021/02/30"></div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  <% } %>
  <span
    id="popup"
    style="
      display: none;
      position: fixed;
      top: 90%;
      border-radius: 10px;
      left: 50%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      transform: translate(-50%, -50%);
      padding: 10px;
      border: 1px solid #ccc;
      background-color: #3b28c874;
      z-index: 9999;
    "
  >
    Product added to cart!
  </span>
  <span
    id="popup2"
    style="
      display: none;
      position: fixed;
      top: 90%;
      border-radius: 10px;
      left: 50%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      transform: translate(-50%, -50%);
      padding: 10px;
      border: 1px solid #ccc;
      background-color: #3b28c874;
      z-index: 9999;
    "
  >
    Product added wishlist!
  </span>


<!-- /End Cowndown Area -->
<br /><br />

<script>
  function addTOCart(proId) {
    $.ajax({
      url: "/add-to-cart/" + proId,
      method: "get",
      success: (response) => {
        if (response.status) {
          const popup = document.getElementById("popup");
          popup.style.display = "block";
          setTimeout(() => {
            popup.style.display = "none";
          }, 1000);
          let count = $("#cart-count").html();
          count = parseInt(count) + 1;
          $("#cart-count").html(count);
        }
        // alert(response)
      },
    });
  }

  function addToWishList(proId) {
    $.ajax({
      url: "/add-to-wishlist/" + proId,
      method: "get",
      success: (response) => {
        if (response.status) {
          const popup = document.getElementById("popup2");
          popup.style.display = "block";
          setTimeout(() => {
            popup.style.display = "none";
          }, 2000);
        }
        // alert(response)
      },
    });
  }
</script>

<%- include('../partials/UserFooter') %>
