<%- include('../partials/UserHeader') %>

    <section class="product-area shop-sidebar shop section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-8 col-12">
                    <h4 class="center">My Wishlist</h4 class="center">

                    <% if (wishlistItems.length>0) { %>
                        <div class="row">
                            <% for (let i=0; i < wishlistItems.length; i++) { %>
                                <div class="col-lg-3 col-md-6 col-12">
                                    <div class="single-product">
                                        <div class="product-img">
                                            <a href="/view-product/<%=wishlistItems[i].product._id%>">
                                                <img class="default-img" src="<%=wishlistItems[i].product.image[0]%>"
                                                    alt="#">
                                                <!-- <img class="hover-img" src="<%=wishlistItems[i].product.image[0]%>"  alt="#"> -->
                                            </a>
                                            <div class="button-head">
                                                <div class="product-action">
                                                    <a title="Wishlist"
                                                        onclick="removeProduct('<%=wishlistItems[i].product._id%>')"><i
                                                            class='fa fa-heart' style='color: red'></i><span>Remove from
                                                            Wishlist</span></a>
                                                    <p title="Compre"></p>
                                                </div>

                                                <div class="product-action-2">
                                                    <a onclick="addTOCart( '<%=wishlistItems[i].product._id%>' )">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h3><a href="/view-product/<%=wishlistItems[i].product._id%>">
                                                    <%=wishlistItems[i].product.pro_name%>
                                                </a></h3>
                                            <div class="product-price">
                                                <span>
                                                    <%=wishlistItems[i].product.pro_price%>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <% } %>

                        </div>
                        <% } else { %>


                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-md-8 mt-5">
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h5 class="card-title"> wishlist is empty</h5>
                                                <!-- <p class="card-text">You have no items in your cart.</p> -->
                                                <br>
                                                <a href="/" style="color: green;"> Start Shopping</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <% } %>


                </div>
            </div>
        </div>
    </section>

    <span
    id="popup"
    style="
      display: none;
      position: fixed;
      top: 90%;
      /* border-radius: 10px; */
      left: 50%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      transform: translate(-50%, -50%);
      padding: 10px;
      border: 1px solid #ccc;
      /* background-color: #3b28c874; */
      background-color: white;
      z-index: 9999;
    "
  >
  </span>
    <script>
         function addTOCart(proId) {
    $.ajax({
      url: "/add-to-cart/" + proId,
      method: "get",
      success: (response) => {
        if (response.status) {
          console.log(response.status);         
          const popup = document.getElementById("popup");
          popup.innerHTML = "Product added to cart!";
          popup.style.display = "block";
          setTimeout(() => {
            popup.style.display = "none";
          }, 1000);
          
          let count = $("#cart-count").html();
          count = parseInt(count) + 1;
          console.log(count);
          $("#cart-count").html(count);
        }
        // alert(response)
      },
    });
  }

        function removeProduct(proId) {
            console.log(proId);

            $.ajax({
                url: '/remove-wishlist-product',
                data: {
                    product: proId,                 
                },
                method: 'POST',
                success: (response) => {

                    location.reload()


                }
            })
        }
    </script>


    <%- include('../partials/UserFooter') %>